* {
    padding:0;
    margin:0;
    box-sizing: border-box; 
   
}

html,body { }


body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding:0;
    background-color: #dbeeff;
    display: flex;
    justify-content: center; /* centers horizontally */
    
 
     
}

.container{
 margin: 0 auto;
  padding: 2rem;
  background-color: white;
  max-width: 600px;
  min-width: 400px;
  width: 60%
 

    

}
.header{
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    background-color: rgb(255, 255, 255);
    color:black;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-top: 5%;
    padding-bottom: 3%;

}

ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 0.5rem;
  padding: 0;
  margin: 0 auto;
  list-style: none;
  width: 100%;
}

li {
   float: none;
  white-space: nowrap;
}

li a {
  display: block;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-right: 12px;
  text-decoration: none;
  color: black;
  font-weight: normal;
}

li a.navbar {
    display: block;
    margin-top: 15px;
    padding-bottom: 5%;
    margin-bottom: 15%;
    margin-right: 12px;
    text-decoration: none;
    color: black;
    font-weight: bold;
    background-image: linear-gradient(#000 0 0);
    background-position: 0 100%; /*OR bottom left*/
    background-size: 0% 2px;
    background-repeat: no-repeat;
    transition:
      background-size 0.3s,
      background-position 0s 0.3s; 
  }

  

li a.navbar:hover{
     background-position: 100% 100%; /*OR bottom right*/
    background-size: 100% 2px;
}

.bottom{
    display: flex;
    flex-direction: column;
    margin: auto;
    min-width: 40%; 
   
}
.gallery{
    background-color: rgb(255, 255, 255);
    color:black;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-bottom: 5%;
    
    
}

.gallery h2{
  text-decoration: underline;
}

    
.section h2{ float:left; ; padding-right: 1em;  }




  .flex-grid { 
    display: flex;
    flex-wrap: wrap;
    margin: 0 0 0 0;
   
  }


  .col {
    flex: 100%;
    padding-right: 1%;
    padding-bottom: 0%;
    margin: 0%;
   
  }


  h3 a{
   text-decoration: none;
    color: black;
  }

 li {
  line-height: 1em;
  padding: 0%;
  margin:0%

 }
  
  .col p{
    padding-right: 10px;
    font-style: italic; 
  }

  .col li {
     margin-left: 4%;
     font-style: italic;
  }
  
  .col h3{
    margin:0%;
    padding: 0%;
    line-height: 0%;
    background-image: linear-gradient(#000 0 0);
    background-position: 0 100%; /*OR bottom left*/
    background-size: 0% 2px;
    background-repeat: no-repeat;
    transition:
      background-size 0.3s,
      background-position 0s 0.3s; 
    display: inline-block;
  }

  .col h3:hover {
    background-position: 100% 100%; /*OR bottom right*/
    background-size: 100% 2px;
  }

  #Projects{
   padding-top: 2%;
  }

  .col img{
     display:none;
     width: 290px;
     height: 290px;
     border-radius: 25px;
    
  }


  a.navbar {
    display: block;
    margin-bottom: 15px;
    margin-right: 12px;
    text-decoration: none;
    color: black;
    font-weight: bold;
   
  }

 

  @media screen and (max-width: 1500px) {
  
    
  }



  @media screen and (max-width: 992px) {
    .col{
     
    }

    
  .col img{
    display: none;
    border-radius: 25px;
   
 }

   h2 {
    font-size: 95%;
   } 

   .header{ 
    font-size: 90%;
   } 
   .flex-grid{
    font-size: 90%;
   }


  }

  /* On screens that are 600px wide or less, make the columns stack on top of each other instead of next to each other */
    /*
  @media screen and (max-width: 600px) {
    .flex-grid {
      flex-direction: column;
    }

    .flex-grid-row{
        flex-direction: column;
    }

    .col img{
        display: none;
        border-radius: 25px;
       
     }

    

     
  }
     */